@page "/Vehiculos"
@using Domain
@rendermode InteractiveServer
<h3>Vehiculos</h3>

<div class="Card-header">
	<div class="card-body">
		<label class="name">Marca del vehiculo:</label>
		<input @bind="vehiculo.Marca" type="text" placeholder="Agregar Marca" />

		<label class="name">Modelo del Vehiculo:</label>
		<input @bind="vehiculo.Modelo" type="text" placeholder="Modelo" /><br />

		<label class="name">Año del vehiculo:</label>
		<input @bind="vehiculo.Año" type="text" placeholder="Año del vehiculo" /><br />

		<span class="btn btn-primary" @onclick="Agregar">Agregar a la lista</span>
	</div>
</div>

<h2>Vehiculos disponibles:</h2>

<div class="card-body">
		<ul>
			@if(vehiculos.Any())
			{
				foreach(var v in vehiculos)
				{
					<ListadeVehiculos.Components.ListadeVehiculos.ListaVehiculo vehiculo="v" Delete="()=>Eliminar(v.Id)"/>
				}
			}
		</ul>
	</div>

@code {
	public VehiculoDto vehiculo { get; set; } = new();
	public List<VehiculoDto> vehiculos { get; set; } = [];

	void Agregar()
	{
		vehiculo.Id = vehiculos.Any() ? vehiculos.Max(v => v.Id) + 1 : 1;
		vehiculos.Add(vehiculo);
		vehiculo = new();
		StateHasChanged();
	}

	void Eliminar(int Id)
	{
		var Vehiculo = vehiculos.FirstOrDefault(v => v.Id == Id);
		if (Vehiculo != null)
		{
			vehiculos.Remove(Vehiculo);
			StateHasChanged();
		}
	}

}
