@page "/Vehiculos"
@using Domain
@rendermode InteractiveServer
<h3>Vehiculos</h3>

<div class="Card-header">
	<div class="card-body">
		<label class="name">Marca del vehiculo:</label>
		<input @bind="vehiculos.Marca" type="text" placeholder="Agregar Marca" />

		<label class="name">Modelo del Vehiculo:</label>
		<input @bind="vehiculos.Modelo" type="text" placeholder="Modelo" /><br />

		<label class="name">Año del vehiculo:</label>
		<input @bind="vehiculos.Año" type="text" placeholder="Año del vehiculo" /><br />

		<span class="btn btn-primary" @onclick="Agregar">Agregar a la lista</span>
	</div>
</div>

<h2>Vehiculos disponibles:</h2>

<div class="card-body">
		<ul>
			@if(V.Any())
			{
				foreach(var Vehiculos in V)
				{
					<ListadeVehiculos.Components.ListadeVehiculos.ListaVehiculo vehiculo="Vehicle" Delete="()=>Delete(Vehiculos.Id)"/>
				}
			}
		</ul>
	</div>

@code {
	public Vehiculos vehiculos { get; set; } = new();
	public List<Vehiculos> V {get; set;} = [];

	void Agregar()
	{
		vehiculos.Id = V.Any() ? V.Max(v => v.Id) + 1 : 1;
		V.Add(vehiculos);
		vehiculos = new();
		StateHasChanged();
	}

	void Eliminar(int Id)
	{
		var Vehiculo = V.FirstOrDefault(v => v.Id == Id);
		if (Vehiculo != null)
		{
			V.Remove(Vehiculo);
			StateHasChanged();
		}
	}

}
